{% set prefixes = ["svc", "app", "api"] %}
{% set name_paths = [
    "services/accounts/%s",
    "services/secrets/%s/*",
]
%}

{% for path in name_paths %}
{% for prefix in prefixes %}
path "{{path % (prefix + "-{{identity.entity.name}}")}}" {
    capabilities = ["read", "list"]
}
{%- endfor %}
{%- endfor %}
