{
    "url": "ldap://uad{{env}}.{{env}}.crto.in",
    "userdn": "OU=FIMUsers,DC=uad{{env}},DC={{env}},DC=crto,DC=in",
    "groupdn": "DC=uad{{env}},DC={{env}},DC=crto,DC=in",
    "insecure_tls": false,
    "upndomain": "uad{{env}}.{{env}}.crto.in",
    "use_token_groups": true
}
